@import url("styles/header.css");

:root {
    --cor-de-fundo: #d32c64;
    --branco: #FFFFFF;
    --laranja: #e67ea1;
    --azul-degrade: linear-gradient(97.54deg, #f50964 35.49%, #e95f98 165.37%);
    --fonte-principal: "Poppins";
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}